@model Staff
@{
    ViewData["Title"] = "Edit Staff Member";
}

<h1>Create TeamMember</h1>


<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="StaffId" />
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="DateOfBirth" class="form-control" type="date" value="2011-08-19">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select class="form-control" asp-for="Gender"
                    asp-items="Html.GetEnumSelectList<Gender>()">
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="IgHandle" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="IgHandle" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FbHandle" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FbHandle" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="HairColor" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="HairColor" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Height" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Height" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Weight" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Weight" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfectionNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="ConfectionNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FeetSize" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FeetSize" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Alergies" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Alergies" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Hobbies" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Hobbies" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Experience" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Experience" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Edit" />
        </div>
    </div>

</form>